.footer {
    background: #E09400;
}

.footer-container {
    max-width: 1200px;
    padding: 40px 20px 60px 20px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 100px;

    align-items: center;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #141414;
}

.footer-contato li {
    font-weight: bold;
    font: 2.25rem;
    line-height: 1.1;
    color: #141414;
    margin-bottom: 30px;
}

.footer-contato li a {
    color:#141414;
}

.footer-icones {
    display: flex;
    gap: 30px;
}

footer .bi {
    font-size: 3rem;
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #141414;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contato li {
        font-size: 1.5rem;
    }
}