.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background: #ffffff;

    width: 100vw;
    padding: 40px 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu, .sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: center;
}

.header-menu a, .sidebar a{
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #141414;
    display: block;
}

.sidebar {
    display: none;
    flex-wrap: wrap;
    gap: 10px;

    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;

    flex-direction: column;
    justify-content: flex-start;
    
    width: 0;
    height: 100vh;
    background-color: #141414;
}

.bi-x, .bi-list {
    display: none;
}
.side-icones li{
    display: none;
}

@media (max-width: 800px) {
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .header a {
        background-color: #f5f5f5;
        border-radius: 4px;
    }
}

@media (max-width: 500px) {
    .header {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .bi-x, .bi-list {
        display: block;
        font-size: 36px;
    }
    .bi-x {
        position: absolute;
        top: 0;
        left: 0;
        color: #f5f5f5;
    }
    .header-menu {
        display: none;
    }
    .sidebar {
        display: flex;
        
    }
    .header a {
        color: #818181;
        background: initial;
        text-transform: uppercase;
        font-weight: bold;
    }
    .header a:hover {
        color: #f1f1f1;
    }

    .side-icones {
        position: absolute;
        bottom: 0;
        display: flex;
    }
    .side-icones li{
        display: block;
    }
}